[submodule "mini_project/House-Hunter"]
	path = mini_project/House-Hunter
	url = https://github.com/azeem110201/House-Hunter
[submodule "BlockChain-resources-for-Exam"]
	path = BlockChain-resources-for-Exam
	url = https://github.com/azeem110201/BlockChain-resources-for-Exam.git
